<div class="background">
	<div class="content">
		<div class="child-content">
			@if (CardData.Content != null)
			{
				ChildContent = CardData.Content.Invoke();
			}
			@if (ChildContent != null)
			{
				@ChildContent
			}
		</div>
		<p class="title" style="font-size: @TextSize">@CardData.Title</p>
		<p class="subtitle" style="font-size: @TextSize">@CardData.Subtitle</p>
	</div>
</div>
