<div class="content">
	<div class="carousel">
		@foreach (Shared.DashboardCardAndStyle cardAndStyle in Section.GetCardsToDisplay())
		{
			<div style="transform: translateX(@(cardAndStyle.XPosition)px) translateZ(@(cardAndStyle.ZPosition)em); z-index: @cardAndStyle.ZIndex; margin-right: 30px;" >
				<DashboardCard CardData=@cardAndStyle.Card>

				</DashboardCard>
			</div>
		}
	</div>
	<p style="padding-top: 2em;">@Section.GetCountText()</p>
</div>