<div class="content">
	<div class="carousel">
		@foreach (DashboardCardAndStyle cardAndStyle in Section.GetCardsToDisplay())
		{
			<div style="transform: translateX(@(cardAndStyle.XPosition)%) translateZ(@(cardAndStyle.ZPosition)em); z-index: @cardAndStyle.ZIndex; margin-right: 30px;" >
				<DashboardCard CardData=@cardAndStyle.Card>

				</DashboardCard>
			</div>
		}
	</div>
	<p class="count">@Section.GetCountText()</p>
</div>