.background {
}

.content {
    font-size: 32px;
    margin-top: 2em;
    margin-left: 2em;
}

.controls {
    color: white;
}

.content:focus {
    outline: none;
}

.section-name {
    color: white;
}