<div class="background">
	<div class="content" @ref=contentDiv @onkeydown=OnInput tabindex="0">
		@if (DashboardData.SelectedSection!.SelectedCard!.SelectedDetailCard != null)
		{
			<DetailCardCarousel DashboardCard=@(DashboardData.SelectedSection!.SelectedCard!) />
			@*<DetailCard>
				@DetailCardStatics.Render(DashboardData.SelectedSection!.SelectedCard.SelectedDetailCard)
			</DetailCard>*@
		}
		else
		{
			@foreach (Shared.SectionAndStyle section in DashboardData.GetSectionsToDisplay().Reverse())
			{
				<p class="section-name" style="opacity: @(section.Opacity); font-size: @(section.Ems)em;">
					@(section.Section.Name.Value)
				</p>
			}
			<DashboardCardCarousel Section=@DashboardData.SelectedSection />
		}
		<div class="controls">
			@{
				Shared.Cards.Dashboard.DashboardCard? selectedCard = DashboardData.SelectedSection?.SelectedCard;
				if (selectedCard != null && selectedCard.SelectedDetailCard == null && selectedCard.DetailCards.Count > 0)
				{
					<p> Enter: Details </p>
				}
				if (selectedCard?.SelectedDetailCard != null)
				{
					<p>	Backspace: Return </p>
					
				}
			}
			<p> Arrow Keys: Navigate </p>
			<p> WORK IN PROGRESS! </p>
		</div>
	</div>
</div>